.header-container {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    border-bottom: 3px solid rgb(153, 170, 236);

    background-color: #63acf62c;
}

.profile-container {

}

.profile-pic {
    display: flex;
    justify-content: center;
    width: 4rem;

    border: 2px solid rgb(153, 170, 236);
    border-radius: 50%;
    overflow: hidden;

    margin-right: 1rem;
}

.profile-pic img {
    width: 4rem;

}