.sidebar-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 100vh;
    background-color: var(--sidebar-color);

    transition: all 0.5s ease;
}

.sidebar-container.hide~.main-container {
    left: 75px;
    width: calc(100% - 75px);
}

.sidebar-container.hide {
    width: 75px;
}

.logo-container {
    height: auto;
    padding: 3rem 0 5rem 0;
}

.logo-img {
    width: 50%;
}

.sidebar-container.hide h3 {
    opacity: 0;
    transition: all 0.1s ease 0s;
}

.logo-container h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-weight: 300;
    color: white;
    opacity: 1;
    transition: all 0.75s ease 0.25s;
}

.menu-button {
    padding-top: 2rem;
}


@media screen and (max-width: 768px) {
    
    .sidebar-container {
        width: 175px;
    }
    
    .sidebar-container.hide~.main-container {
        left: 75px;
        width: calc(100% - 75px);
    }
    
    .sidebar-container.hide {
        width: 75px;
    }
}

@media screen and (max-width: 500px) {
    .sidebar-container.show {
        position: fixed;
        top: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        text-align: center;
        height: 450px;

        z-index: 10;
        overflow: hidden;
    
        transition: all 0.5s ease;
    }

    .sidebar-container.show .logo-container {
        display: none;
    }

    .sidebar-container.hide {
        position: fixed;
        top: 0;
        width: 100vw;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 75px;
        background-color: var(--sidebar-color);

        z-index: 10;
    
        transition: all 0.5s ease;
    }

    .logo-container {
        position: relative;
        padding: 10px;
        height: auto;
        left: 0;
        top: 0;
        /* padding: 3rem 0 5rem 0; */
    }
    
    .logo-img {
        width: 60px;
    }

    .menu-button {
        padding: 10px;
    }
}