.logo-container {
    height: auto;
    padding: 3rem 0 5rem 0;
}

.logo-img {
    width: 50%;
}

.logo-container h3 {
    font-weight: 300;
    color: white;
}

.sidebar-container.show {
    transform: translateX(0);
}

.sidebar-container.hide {
    transform: translateX(-100%);
}

