

.logo-container {
    height: auto;
    padding: 3rem 0 5rem 0;
}

.logo-img {
    width: 50%;
}

.sidebar-container.hide h3 {
    display: none;
}

.logo-container h3 {
    font-weight: 300;
    color: white;
}

.menu-button {
    padding-top: 2rem;
}

