.footer-container {
    grid-column: 1 / -1;
    grid-row: 2;
    height: 10vh;
    text-align: center;
    background-color: var(--header-color);
    color: black;
    border-top: 4px solid var(--header-color);

}