.menu-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
    top: 35%;
    left: 13px;
    padding: 0;
    text-align: left;
}

.sidebar-container.hide .menu-container {
    width: auto;
}

a {
    text-decoration: none;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    width: 214px;
    padding: 0.5rem;
    padding-right: 0;
    list-style-type: none;
    cursor: pointer;
}

.sidebar-container.hide .menu-item {
    width: auto;
}

.logout {
    margin-top: auto;
}

.menu-item:hover {
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.434);
}

.sidebar-container.hide .menu-item {
    padding-right: 0.5rem;
}

.menu-icon {
    font-size: 2rem;
}





.menu-name {
    position: absolute;
    padding-left: 4rem;
}

.sidebar-container.hide .menu-name {
    display: none;
}



.menu-hover {
    position: absolute;
    left: 75px;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.434);
    box-shadow: 0.5rem 0.4rem 0.3rem 0.1rem rgba(0, 0, 0, 0.25);
    padding: 0.4rem 0.75rem;
    z-index: 10;
    opacity: 0;
    color: black;
}

.menu-container .menu-item:hover .menu-hover {
    opacity: 1;
}

.sidebar-container.show .menu-hover {
    display: none;
}




@media screen and (max-width: 768px) {
    .sidebar-container.show .menu-container {
        left: 2px;
        transition: all 0.5s ease;
    }

    .sidebar-container.hide .menu-container {
        transition: all 0.5s ease;
    }

    .menu-item {
        width: 163px;
    }
}

@media screen and (max-width: 500px) {

    .sidebar-container.show .menu-container {
        position: relative;
        align-self: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50vw;
        top: 0;
        left: 13px;
        padding: 0;
        margin: 0;
        text-align: left;

        opacity: 1;
    }

    .sidebar-container.hide .menu-container {
        opacity: 0;
        display: none;

        transition: all 0.5s ease;
    }

    .logout {
        margin-top: auto;
        margin-bottom: 20px;
    }

    .menu-hover {
        display: none;
    }
}