@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  position: relative;
  /* display: flex;
  flex-direction: column; */
  height: 100vh;
  width: 100vw;
}

/* .top-row {
  display: flex;
} */

.sidebar-container {
  /* position: relative; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 100vh;
  background-color: #63adf6;

  transition: all 0.5s ease;
}

.main-container {
  position: relative;
  left: 250px;
  width: calc(100% - 250px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(210, 210, 210);

  transition: all 0.5s ease;
}

.sidebar-container.hide {
  width: 75px;
}

.sidebar-container.hide .menu-name {
  display: none;
}

.sidebar-container.hide  ~ .main-container{
  left: 75px;
  width: calc(100% - 75px);
}

/* .sidebar-container.hide {
  transform: translateX(-100%);
} */

