@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --sidebar-color: #63adf6;
  --header-color: #63acf62c;
  --line-graph-color: #ff9513;
}

[data-theme='dark'] {
  --sidebar-color: #000000;
  --header-color: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}



.main-container {
  position: relative;
  left: 250px;
  width: calc(100% - 250px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;

  transition: all 0.5s ease;
}


@media screen and (max-width: 768px) {
    
  .app-container {
    /* position: relative;
    height: 100vh;
    width: 100vw; */
  }
  
  
  .main-container {
    position: relative;
    left: 175px;
    width: calc(100% - 175px);
  }
}

@media screen and (max-width: 425px) {
  
}
